@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
}

@keyframes show {
	0% {
		z-index: 1;
		transform: scale(0.8);
		opacity: 0;
	}

	100% {
		z-index: 1;
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.animaShow {
	animation: 650ms show ease-out;
	animation-fill-mode: forwards;
}

.animaHide {
	animation: 650ms hide ease-out;
	animation-fill-mode: forwards;
}



.Slide {
	width: 100vw;
	height: 100vh;
	background: black;
	color: #FFF;
}

.Slide_Container {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 400px;
	height: 100vh;
	overflow: hidden;
	margin: 0 auto;
}

.Slide_Container_Img {
	width: 100%;
	position: absolute;
	top: 0;
}

.Slide_Container_Title {
	position: absolute;
	bottom: 0;
	z-index: 50;
	width: 90%;
	line-height: 7;
	background: linear-gradient(0deg, black, transparent);
	padding: 0 1em;
	text-shadow: 1px 1px black;
	text-align: center;
}