
.box {
	font-size: 50px;
	width: 100px;
	margin: 1em auto;
	position: relative;
}

.fade-enter {
	position: absolute;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 1000ms ease;
}

.fade-enter-active {
	position: absolute;
	transform: translateY(0%);
	opacity: 1;
	transition: all 1000ms ease;
}

.fade-exit {
	position: absolute;
	transform: translateY(0%);
	opacity: 1;
	transition: all 1000ms ease;
}

.fade-exit-active {
	position: absolute;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 1000ms ease;
}